/*----------------- common-style------------ */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
/* --------------------------------------------
-------------------header-style-start-------------
------------------------------------------------ */
.header{
    background-color: #2D25A0;
    padding-bottom: 16px;
}
.navbar{
    display: grid;
    grid-template-columns: 80% 20%;
}
.nav-link ul{
    display: flex;
    margin-left: 90px;
}
.nav-link ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: 20px;

}
.nav-link ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.6px;
    border-bottom: 2px solid #2D25A0;
    transition: 0.4s linear;
}
.nav-link ul li a:hover{
    border-bottom: 2px solid #E02C6D;
}
.log-in{
    margin-top: 25px;
    font-size: 22px;
    background-color: #E02C6D;
    margin-right: 152px;
    padding: 4px 17px;
    border: 1px solid #E02C6D;
    transition: 0.2s ease-in;
}
.log-in:hover{
    border: 1px solid #fff;
}
.log{
    color: #fff;
    font-size: 17px;
    margin-right: 3px;
}
.login-button{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.5px;
}
/* --------------------------------------------
-------------------header-style-End-------------
------------------------------------------------ */
/* --------------------------------------------
-------------------banner-style-Start-------------
------------------------------------------------ */
.container{
    background-color: #2D25A0;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.banner-img img{
    width: 80%;
    margin-top: 60px;
    padding-left: 24px;
    transition: transform 0.6s ease-in;
}
.banner-img img:hover{
    transform: scale(1.1);
}

.banner-header{
    font-size: 64px;
    margin-left: 150px;
    color: #fff;
    padding-right: 30px;
    margin-top: 95px;
    text-shadow: 6px 11px 17px #1b1919;
    transition: 0.5s ease-in;
}
.banner-header:hover{
    text-shadow: none;
}
.live-button{
    margin-left: 150px;
    font-size: 22px;
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    border: 2px solid #E02C6D;
    transition: 0.5s ease-in;
}
.live-button:hover{
    background-color: #2D25A0;
    border: 2px solid #E02C6D;
}
.arrow{
    padding-left: 10px;
}
/* --------------------------------------------
-------------------banner-style-End-------------
------------------------------------------------ */
/* --------------------------------------------
-------------------palyers-style-Start-------------
------------------------------------------------ */
.container-player{
    margin-bottom: 200px;
}
.player-blog{
    width: 1050px;
    transform: translate(115px, 71px);
    background-color: #fff;   
}
.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    height: 540px;
    box-shadow: 11px 20px 27px #9e9292;
    border-radius: 10px;
    transition: 0.6s ease-in;
    border: 2px solid #fff;
    padding: 15px;
}
.player:hover{
    box-shadow: none;
    border: 2px solid #E02C6D;
    border-radius: 10px;
}
.player-img{
    /* padding: 15px; */
    overflow: hidden;
}
.player-img img{
    width: 100%;
    border-radius: 10px;
    transition: 0.6s ease-in;
}
.player-img img:hover{
    transform: scale(1.1);
}
.player-details{
    padding: 0px 15px;
}
.player-nmae{
    font-size: 28px;
    margin: 0;
    color: #695858;
    transition: 0.6s ease-in;
}
.player-nmae:hover{
    color: #E02C6D;
    text-shadow: 7px 6px 7px #862568;
}
.player-info{
    font-size: 15px;
    text-align: justify;
    margin-bottom: 30px;
}
.player-button{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 7px 26px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.8px;
    border: 2px solid #E02C6D;
    transition: 0.8s ease-in;
}
.player-button:hover{
    background-color: #fff;
    color: #E02C6D;
    border: 2px solid #E02C6D;
}
/* --------------------------------------------
-------------------palyers-style-End-------------
------------------------------------------------ */
/* --------------------------------------------
-------------------Highlight-style-start-------------
------------------------------------------------ */

.highlight{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 200px;
}
.hightlight-img img{
    width: 80%;
    margin-top: 70px;
}
.highlight-detail{
  
    padding-right: 69px;
}
.highlight-titel{
    padding-left: 182px;
    font-size: 48px;
    color: #716363;
    transition: 0.6s ease-in;
}
.highlight-titel:hover{
    color: #E02C6D;
    text-shadow: rgb(134 37 104 / 52%) 6px 11px 14px;
}
.highlight-info{
    padding-left: 182px;
    text-align: justify;
    margin-bottom: 39px;
}
#btn{
    margin-left: 182px;
    background-color: #E02C6D;
    border: 2px solid #E02C6D;
    transition: 0.6s ease-in;
}
#btn:hover{
    background-color: #fff;
    color: #E02C6D;
    border: 2px solid #E02C6D;
}
/* --------------------------------------------
-------------------Highlight-style-End-------------
------------------------------------------------ */
/* --------------------------------------------
---------------latest-tournament-new-style-start-------------
------------------------------------------------ */
.latest-tournament-news-container{
    padding: 20px 180px;
    margin-bottom: 100px;
}
.section-title{
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    color: #695c5c;
    margin-bottom: 70px;
}
.latest-tournament-news{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}
.news{
    width: 450px;
    box-shadow: 20px 20px 50px grey;
    padding: 20px;
    border-radius: 10px;
}
.news-img{
    overflow: hidden;
}
.news-img img{
    width: 100%;
    border-radius: 10px;
    transition: 0.6s ease-in;
}
.news-img img:hover{
    transform: scale(1.1);
}
.news-title{
    font-size: 22px;
    letter-spacing: 0.6px;
    color: #5a4a4a;
}
.news-date{
    font-size: 15px;
    color: #494954;
}
/* --------------------------------------------
---------------latest-tournament-new-style-end-------------
------------------------------------------------ */
/* --------------------------------------------
---------------latest-FiFa-new-style-start-------------
------------------------------------------------ */
.latest-fifa-news-container{
    padding: 20px 180px;
    margin-bottom: 150px;
}
.lates-fifa-news{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}
.fifa-news-banner{
    width: 450px;
    box-shadow: 20px 20px 50px grey;
    padding: 20px;
    border-radius: 10px;
}
.thumnail{
   
    overflow: hidden;
}
.thumnail img{
    width: 100%;
    border-radius: 10px;
    transition: 0.6s ease-in;
}
.thumnail img:hover{
    transform: scale(1.1);
}
.fifa-newses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    margin-top: 32px;
}
.fifa-news{
    width: 280px;
    box-shadow: 20px 20px 50px grey;
    padding: 20px;
    border-radius: 10px;
}
.fifa-news-banner2{
    overflow: hidden;
}
.fifa-news-banner2 img{
    width: 100%;
    transition: 0.6s ease-in;
}
.fifa-news-banner2 img:hover{
    transform: scale(1.1);
}
/* --------------------------------------------
---------------latest-FiFa-new-style-End-------------
------------------------------------------------ */
/* --------------------------------------------
---------------background-image-style-start-------------
------------------------------------------------ */
.background-image{
    position: relative;
    margin-bottom: 100px;
}
.bg-img img{
    height: 600px;
    width: 100%;
}
.bg-img-detail{
    position: absolute;
    top: 0;
    background-color: #1b00ff6b;
    padding: 220px  238px;
}
.bg-img-title{
    font-size: 40px;
    color: #fff;
    margin: 0px;
}
.bg-img-text{
    color: #fff;
    margin-bottom: 30px;
}

.link-button{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    background-color: #E02C6D;
    padding: 8px 24px;
    border-radius: 28px;
}
/* --------------------------------------------
---------------background-image-style-end-------------
------------------------------------------------ */
/* --------------------------------------------
---------------Footer-section-style-start-------------
------------------------------------------------ */
.footer-img{
    text-align: center;
}
.footer-img img{
    width: 314px;
    height: 110px;
}
.link-icon ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0px;
}
.link-icon ul li{
    text-align: center;
    font-size: 22px;
    color: gray;
    margin-left: 14px;
}
.icon{
    background-color: #808080c4;
    color: #fff;
    padding: 11px 12px;
    border-radius: 50%;
    transition: 0.5s ease-in;
}
.icon:hover {
    background-color: #E02C6D;
    color: #fff;
}
.footer-text{
    text-align: center;
}
.footer-text p{
    letter-spacing: 3px;
    margin-left: 81px;
    color: #736666;
}